/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');



* {
    font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.home-body { 
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    display:grid;
    grid-template-columns: 200px 460px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1300px 1400px 500px 1fr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    color: #173B61;
}

header {
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #333;
}

/* Header styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 100px;
}

.logo img {
    height: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 25px;
    padding: 5px 15px;
}

.search-bar input[type="text"] {
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    width: 800px;
    outline: none;
    color: #173b61;

}

.search-button {
    border: none;
    background: transparent;
}

.search-button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #f1f3f5;
}

.account-cart {
    display: flex;
    align-items: center;    
    margin-right: 250px;
}

.account-cart a {
    text-decoration: none;
    color: #173b61;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    font-family: 'SUSE', sans-serif;
}

.account-cart.account-link {
    margin-left: 0px;
}

.account-cart img {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
}

.account-cart span {
    font-size: 14px;
    font-weight: 500;
}

.cart-link span{
    color: #fd8916;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ccc;
}

/* Subheader styles */
.subheader {
    background-color: #173b61;
    padding: 0 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 265px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    align-items: center;
}


.menu-item {
    position: relative;
    margin: 0 0;
}

.menu-item a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 35px;
    text-decoration: none;
    color: #fff;
    font-family: 'SUSE', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
    background: white;
}

.menu-item:hover a,
.menu-item:focus-within a {
    background: white;
    color: #173b61;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0px 0 0 0;
    min-width: 200px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu li {
    margin: 10px 0;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.2s;
}

.submenu li a:hover {
    color: #007bff;
}

/* Optional: Adding arrow indicator for submenu */
.menu-item > a::after {
    content: '▼';
    margin-left: 8px;
    font-size: 12px;
    transition: transform 0.3s;
}

.menu-item:hover > a::after,
.menu-item:focus-within > a::after {
    transform: rotate(360deg);
}


lp-section {
    border: 1px solid #173B61;
    text-align: center;
}

.lp-section-1 {
    grid-column: 1/6;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content:space-between; /* Distribute images evenly */
    align-items:flex-start;
    overflow: hidden; /* Ensure no overflow */
}

.lp-section-1 img {
    height: auto;
    border-top: 1px solid #173B61;
    width: 100%;
    height: calc(50% - 1px); /* Adjust for border spacing */
    object-fit:fill; /* Ensure the images cover the entire space */
}

.lp-section-2 {
    grid-column: 1/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 1fr);  /* 3 rows with equal height */
    gap: 20px; /* Space between products */
    padding: 20px;
    justify-items: center;
    overflow: hidden; /* To avoid overflow */
    border: 1px solid #173B61;
}

.lp-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures even spacing */
    align-items: center;
    height: 100%; /* Make product fill the grid cell */
    max-height: 100%; /* Prevent overflow */
    box-sizing: border-box;
}

.lp-product img {
    height: auto;
    max-height: 150px; /* Adjust image size */
    object-fit: contain; /* Ensure image fits within the space */
}

.lp-product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.lp-price {
    margin: 5px 0;
    font-size: 18px;
    text-decoration: line-through;
    color: #888;
}

.lp-discounted-price {
    font-size: 18px;
    color: #173B61;
    margin: 5px 0;
}

.lp-discount {
    font-size: 16px;
    color: #e60000;
}

lp-button {
    width: 100px;
    height: 20px;
    background-color: #FD8916;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    position:relative
}

lp-button:hover {
    background-color: #7697a0;
}

.lp-section-3 {
    grid-column: 1/6;
    grid-row: 4/5;
    padding: 0px 0px 10px 0px;
    overflow: hidden; /* Ensure no overflow */
}

.lp-section-3 img {
    width: 100%;
    height: calc(100% - 1px); /* Adjust for border spacing */
    object-fit:fill; /* Ensure the images cover the entire space */
}


/* Footer styles */
footer {
    grid-column: 1/6;
    grid-row: 5/6;
    background-color: #343a40;
    color: #adb5bd;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-center a {
    margin: 0 10px;
    color: #adb5bd;
    transition: color 0.2s;
}

.footer-center a:hover {
    color: #fff;
}

.footer-center img {
    width: 40px;
    margin: 0 5px;
}

.footer-right img {
    width: 40px;
    margin: 0 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    padding-left: 160px;
    justify-content: center;
}

.footer-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #adb5bd;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #adb5bd;
}

.footer-bottom p {
    margin: 0;
}


/* CSS PARA EL SHOPPING CART */


/* migajas de pan  */

nav.breadcrumb {
    color: #173B61;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-decoration: underline;
}

nav.breadcrumb a {
    color: #007BFF;
    text-decoration: underline;
}





/* STYLES FOT SHOPPING CART */


.main-sc {
    color:  #173B61;
    padding: 20px;
    background-color: white ;
}
.main-sc h2{
    margin-bottom: 40px;
    text-align: center;
}
.container-sc {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.product-list-sc {
    flex: 2;
}
.product-item-sc {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    justify-content: center;
    align-items: center;
}
.product-item-sc:last-child {
    border-bottom: none;
}
.product-image-sc {
    width: 370px;
    height: 250px;
    padding: 20px;
}
.product-details-sc {
    flex: 1;
}
.product-details-sc h3 {
    margin-bottom: 10px;
}
.shipping-method {
    margin-bottom: 10px;
}
.shipping-method h4 {
    margin-bottom: 10px;
}
.shipping-method label {
    display: block;
    margin-bottom: 5px;
    gap: 10px;
}
.product-details-sc label {
    display: block;

}
.product-details-sc select {
    padding: 5px;
    border: 1px solid #ddd;
    width: 100px;
    margin: 9px 3px 1px 3px;
}
.order-summary {
    flex: 1;
    background-color: #C5E0E8;
    padding: 20px;
    border-radius: 0.3rem;
    height: fit-content;
}
.order-summary h2 {
    margin-bottom: 20px;
    text-align: center;
}
.order-summary ul {
    list-style: none;
    margin-bottom: 20px;
}
.order-summary ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.order-summary ul li span {
    float: right;
}

.order-summary button {
    width: 100%;
    padding: 10px;
    background-color: #FD8916;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}
.order-summary button:hover {
    background-color: #305d69;
}
/* Para que sea responsive*/
@media (max-width: 1105px) {
    .container-sc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-item-sc{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .product-list-sc{
        margin: 20px;
    }
    .product-image-sc {
        width: 320px;
        height: 190px;  
    }
    .order-summary {
        flex: 1;
        background-color: #C5E0E8;
        /* width: 100%; */
        border-radius: 0.3rem;
        height: fit-content;
    }
}



/* General Responsive Styles */
@media (max-width: 768px) {
    /* Adjust header container */
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    /* Adjust logo */
    .logo {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        height: 80px;
        max-width: 100%;
        object-fit: contain;
    }

    /* Adjust search bar */
    .search-bar {
        width: 90%;
        margin-top: 10px;
    }

    .search-bar input[type="text"] {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .search-button img {
        width: 16px;
        height: 16px;
    }

    
    /* Account cart adjustments */
    .account-cart {
        margin-top: 20px;
        padding-top: 20px;
        justify-content: space-between; /* Distribute space evenly */
        width: 50%;
        align-items: center;
        margin: 0 15px;	
    }

    .account-link, .cart-link {
        display: flex;
        flex-direction: row; /* Align icon and text horizontally */
        align-items: center;
    }

    .account-link span, .cart-link span {
        margin-left: 5px; /* Small gap between icon and text */
        font-size: 12px;
    }

    /* Subheader adjustments */
    /* Adjust the subheader for mobile devices */
    .subheader {
        background-color: #173b61;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;    
        width: 95.6%;
        height: 155px;
        display: flex;
    }

    /* Ensure menu items align properly */
    .menu {
        display: block; /* Switch from flex to block layout */
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: block; /* Make each menu item take full width */
        width: 100%;
        margin: 0;
    }

    .menu-item a {
        display: block;
        width: 100%;
        padding: 10px;
        padding-left: 15px;
        text-align: left;
        background-color: #173b61;
        color: #fff;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
    }

    /* Submenu adjustments */
    .submenu {
        display: none; /* Initially hide the submenu */
        position: static; /* Let the submenu push down other content */
        width: 100%; /* Ensure submenu takes full width */
        padding: 0;
        margin: 0;
        background-color: #f4f6f9;
    }

    .menu-item:hover .submenu,
    .menu-item:focus-within .submenu {
        display: block;
    }

    .submenu li {
        margin: 0;
        padding: 0;
    }

    .submenu li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    .submenu li a:hover {
        color: #007bff;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-column {
        margin: 20px 0;
        padding-left: 0;
    }

    .footer-title {
        font-size: 16px;
    }

    .footer-column ul li a {
        font-size: 13px;
    }

    .footer-copyright {
        margin-top: 30px;
    }

       /* Aqui comienza el pagina inicio */
       .lp-section-1 {
        background-color: #173B61;
    }

    .lp-section-1 img {
        height: auto;
        border-top: 15px solid #173B61;
        width: 74%;
        height: calc(25% - 0px); /* Adjust for border spacing */
        object-fit:fill; /* Ensure the images cover the entire space */
    }

    .home-body {
        grid-template-rows: 1fr 1300px 4000px 300px 1fr;
    }

    .lp-section-2 {
        grid-template-columns: repeat(1, 1fr); /* Adjust to 2 columns on smaller screens */
        margin-right: 150px;
    }

    .lp-section-3 {
        margin: 0px; /* Simplify margins for smaller screens */
      }
    
      .lp-section-3 img {
        margin-right: 300px;
        width: 75%;
        height: auto; /* Allow the height to adjust naturally */
        object-fit: fill; /* Ensure the image still covers the space but maintains aspect ratio */
      }

}

@media (max-width: 480px) {
    /* Further adjustments for smaller mobile screens */
    .header-container {
        padding: 10px;
    }

    .logo img {
        height: 60px;
    }

    .search-bar input[type="text"] {
        font-size: 12px;
        padding: 8px;
    }

    .account-cart {
        width: 100%;
        justify-content: space-around; /* Center both account and cart */
    }

    .account-link span, .cart-link span {
        font-size: 10px;
    }

    .subheader {
        padding: 0 10px;
    }

    .menu-item a {
        font-size: 14px;
        padding: 10px;
    }

    .submenu li a {
        font-size: 12px;
    }

    .footer-middle {
        padding: 20px;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-copyright {
        font-size: 12px;
    }


        /* Section 1 */
 .lp-section-1{
    justify-content:space-around; /* Distribute images evenly */
    align-items:flex-start;

 } 
  
 .lp-section-1 img {
    height: auto;
    width: 100%;
    height: calc(25% - 1px); /* Adjust for border spacing */
    object-fit:fill; /* Ensure the images cover the entire space */
 }

 .home-body {
    grid-template-rows: 1fr 1300px 4000px 500px 1fr;
 }

 .lp-section-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column on smaller screens */
    gap: 16px; /* Space between grid items */
    width: 100%; /* Ensure the grid container takes up full width */
    padding: 0 10px; /* Add padding to prevent content from touching screen edges */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }

  .lp-product {
    padding-top: 5px;
    padding-bottom: 5px;
 }

 .lp-section-3 {
    margin: 0px; /* Simplify margins for smaller screens */
   }

  .lp-section-3 img {
    margin-right: 300px;
    width: 100%;
    height: 100%; /* Allow the height to adjust naturally */
    object-fit: fill; /* Ensure the image still covers the space but maintains aspect ratio */
  }
}


/* --------------------------------------------------PDP --------------------------------------------------------------------*/
main-pdp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

body-pdp {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: #173B61;
    background-color: #ffffff;
}


nav.breadcrumb {
    color: #173B61;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-decoration: underline;
}

nav.breadcrumb a {
    color: #007BFF;
    text-decoration: underline;
}


section.product-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

section.product-info img {
    width: 100%;
    height: auto;
}

section.product-details h1 {
    font-size: 2em;
    margin-top: 0;
    font-family: "SUSE", sans-serif;
}

section.product-details p {
    margin: 10px 0;
}

section.specifications {
    margin-top: 20px;
}

section.specifications h2 {
    margin-bottom: 10px;
}

section.specifications table {
    width: 100%;
    border-collapse: collapse;
}

section.specifications td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

section.related-products {
    margin-top: 30px;
}

section.related-products h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

section.related-products .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

article.product {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
}

article.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

article.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

article.product .price {
    margin: 10px 0;
}


article.product .price .original-price  {
    display: block;
    color: #007BFF;
    font-size: 1.2em;
}

article.product button {
    padding: 10px 15px;
    background-color:  #FD8916;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: "SUSE", sans-serif;
    margin-top: 10px;
}

article.product button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    section.product-info {
        grid-template-columns: 1fr;
    }
    section.related-products .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }
}

@media (max-width: 480px) {
    section.related-products .product-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto);
    }
}
