/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/* General styles */
body{
    font-family: "Montserrat", sans-serif;
    background-color: #f4f6f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "SUSE", sans-serif;
}

/* Header styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.logo {
    margin: 0px;
}

.logo img {
    height: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 25px;
    padding: 5px 15px;
}

.search-bar input[type="text"] {
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    color: #173b61;
}

.search-button {
    border: none;
    background: transparent;
}

.search-button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #f1f3f5;
}

.account-cart {
    display: flex;
    align-items: center;    
    margin: 0;
}

.account-cart a {
    text-decoration: none;
    color: #173b61;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    font-family: 'SUSE', sans-serif;
}

.account-cart.account-link {
    margin-left: 0px;
}

.account-cart img {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
}

.account-cart span {
    font-size: 14px;
    font-weight: 500;
}

.cart-link span{
    color: #fd8916;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ccc;
}

/* Subheader styles */
.subheader {
    background-color: #173b61;
    padding: 0 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 265px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    align-items: center;
}

.menu-item {
    position: relative;
    margin: 0 0;
}

.menu-item a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 35px;
    text-decoration: none;
    color: #fff;
    font-family: 'SUSE', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
    background: white;
}

.menu-item:hover a,
.menu-item:focus-within a {
    background: white;
    color: #173b61;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0px 0 0 0;
    min-width: 200px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu li {
    margin: 10px 0;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.2s;
}

.submenu li a:hover {
    color: #007bff;
}

/* Optional: Adding arrow indicator for submenu */
.menu-item > a::after {
    content: '▼';
    margin-left: 8px;
    font-size: 12px;
    transition: transform 0.3s;
}

.menu-item:hover > a::after,
.menu-item:focus-within > a::after {
    transform: rotate(360deg);
}

/* Footer styles */
footer {
    background-color: #343a40;
    color: #adb5bd;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-center a {
    margin: 0 10px;
    color: #adb5bd;
    transition: color 0.2s;
}

.footer-center a:hover {
    color: #fff;
}

.footer-center img {
    width: 40px;
    margin: 0 5px;
}

.footer-right img {
    width: 40px;
    margin: 0 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer-column {
    flex: 1;
    margin: 0 10%;
    justify-content: center;
}

.footer-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #adb5bd;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #adb5bd;
}

.footer-bottom p {
    margin: 0;
}


/* General Responsive Styles */
@media (max-width: 768px) {
    /* Adjust header container */
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    /* Adjust logo */
    .logo {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        height: 80px;
        max-width: 100%;
        object-fit: contain;
    }

    /* Adjust search bar */
    .search-bar {
        width: 90%;
        margin-top: 10px;
    }

    .search-bar input[type="text"] {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .search-button img {
        width: 16px;
        height: 16px;
    }

    
    /* Account cart adjustments */
    .account-cart {
        margin-top: 20px;
        padding-top: 20px;
        justify-content: space-between; /* Distribute space evenly */
        width: 50%;
        align-items: center;
        margin: 0 15px;	
    }

    .account-link, .cart-link {
        display: flex;
        flex-direction: row; /* Align icon and text horizontally */
        align-items: center;
    }

    .account-link span, .cart-link span {
        margin-left: 5px; /* Small gap between icon and text */
        font-size: 12px;
    }

    /* Subheader adjustments */
    /* Adjust the subheader for mobile devices */
    .subheader {
        background-color: #173b61;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;    
        width: 93%;
        height: 155px;
        display: flex;
    }

    /* Ensure menu items align properly */
    .menu {
        display: block; /* Switch from flex to block layout */
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: block; /* Make each menu item take full width */
        width: 100%;
        margin: 0;
    }

    .menu-item a {
        display: block;
        width: 100%;
        padding: 10px;
        padding-left: 15px;
        text-align: left;
        background-color: #173b61;
        color: #fff;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
    }

    /* Submenu adjustments */
    .submenu {
        display: none; /* Initially hide the submenu */
        position: static; /* Let the submenu push down other content */
        width: 100%; /* Ensure submenu takes full width */
        padding: 0;
        margin: 0;
        background-color: #f4f6f9;
    }

    .menu-item:hover .submenu,
    .menu-item:focus-within .submenu {
        display: block;
    }

    .submenu li {
        margin: 0;
        padding: 0;
    }

    .submenu li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    .submenu li a:hover {
        color: #007bff;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-column {
        margin: 20px 0;
        padding-left: 0;
    }

    .footer-title {
        font-size: 16px;
    }

    .footer-column ul li a {
        font-size: 13px;
    }

    .footer-copyright {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    /* Further adjustments for smaller mobile screens */
    .header-container {
        padding: 10px;
    }

    .logo img {
        height: 60px;
    }

    .search-bar input[type="text"] {
        font-size: 12px;
        padding: 8px;
    }

    .account-cart {
        width: 100%;
        justify-content: space-around; /* Center both account and cart */
    }

    .account-link span, .cart-link span {
        font-size: 10px;
    }

    .subheader {
        padding: 0 10px;
    }

    .menu-item a {
        font-size: 14px;
        padding: 10px;
    }

    .submenu li a {
        font-size: 12px;
    }

    .footer-middle {
        padding: 20px;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-copyright {
        font-size: 12px;
    }
}


/****************************************************************
Styles for the Product List Page (PLP)
****************************************************************/


div.grid-container-plp{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 0px;
    margin: 0px;
}

nav.breadcrumb-plp{
    grid-row: 1;
    grid-column: 1/4;
    font-size: 0.9em;
    color: #173B61;
    padding: 1.5% 2%;
    background-color: #FFEBD0;
}

nav.breadcrumb-plp a{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

nav.breadcrumb-plp a:hover{
    color: #FD8916;
    text-decoration: underline;
}

section.information-above-plp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: 2/4;
    margin: 0px;
    padding: 10px 20px;
    background-color: #FFEBD0;
}

section.information-above-plp p{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0px 5px;
    color: #173B61;
}

div.orderby-plp {
    margin: 0px;
    display:block;
    text-align: center;
    padding: 2px;
}

div.orderby-plp h4{
    margin: 0;
}

#orderby-plp-box{
    padding: 5px;
}

aside.filters-plp{
    grid-row: 2/4;
    grid-column: 1;
    margin: 0px;
    padding: 5em 10px;
    background-color: #889ea4;
}

aside.filters-plp h2{
    margin: 0;
    padding: 5px 0px;
}

aside.filters-plp h4{
    margin: 0;
    padding: 5px 0px;
}

aside.filters-plp ul{
    list-style-type: none;
    padding: 0px;
}

aside.filters-plp ul form{
    display:flex;
    flex-direction: column;
    align-items: right;
    padding: 5px;
}

aside.filters-plp label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside.filters-plp label p{
    margin: 0;
    padding: 0px 5px;
    color: #ffffff;
}

aside.filters-plp label:hover{
    color: #ffffff;
}

section.content-plp{
    grid-row: 3;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.content-plp ul{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
}

section.content-plp ul li.product{
    background-color: #ffffff;
    border: 2px solid #7697A0;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px;
}

section.content-plp ul li.product p{
    margin: 5px 0px;
}


section.content-plp ul li.product a img{
    width: 50%;
    height: auto;
    margin: 0px;
}

section.content-plp ul li.product img.rating{
    width: 80%;
    height: auto;
}

section.content-plp ul li.product a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #173B61;
}

section.content-plp ul li a:hover{
    text-decoration:none;
}

section.content-plp ul li a div.price-discount{
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}


section.content-plp ul li a div.price-discount p.discount{
    padding-left: 5px;
    color: #FD8916;
}

section.content-plp ul li a button {
    width: 140px;
    height: 40px;
    background-color: #FD8916;
    color: white;
    border: none;
    margin: 5px 0px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

section.content-plp ul li a button:hover {
    background-color: #7697a0;
}

section.content-plp ul li a i.fa-solid.fa-cart-shopping {
    padding-right: 5px;
}

div.banner-plp{
    grid-row: 4;
    grid-column: 1/4;
    margin: 0px;
}

div.banner-plp img{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

@media (max-width: 480px){
    div.grid-container-plp{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 0px;
    }

    nav.breadcrumb-plp{
        grid-row: 1;
        grid-column: 1;
        font-size: 0.9em;
        color: #173B61;
        padding: 1.5% 2%;
        background-color: #FFEBD0;
    }

    section.information-above-plp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-row: 2;
        grid-column: 1;
        margin: 0px;
        padding: 10px 20px;
        background-color: #FFEBD0;
    }

    aside.filters-plp{
        grid-row: 3;
        grid-column: 1;
        margin: 0px;
        padding: 5em 10px;
        background-color: #889ea4;
    }

    section.content-plp{
        grid-row: 4;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.banner-plp{
        grid-row: 5;
        grid-column: 1;
        margin: 0px;
    }
}