/****************************************************************
Styles for the Product List Page (PLP)
****************************************************************/


/** Denim #173B61 para textos
Orange #FD8916 para botones y links
Pure #FFEBD0 Para el fondo (AHORA LE FONDO ES BLANCO)
Grey Blue #7697A0 recuadros y cosas para seleccionar
**/

body{
    font-family: "Montserrat", sans-serif;
    color: #173B61;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "SUSE", sans-serif;
}

div.grid-container-plp{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 0px;
    margin-top: 10px;
}

nav.breadcrumb-plp{
    grid-row: 1;
    grid-column: 1/4;
    font-size: 0.9em;
    color: #173B61;
    padding: 7px 16px;
    background-color: #FFEBD0;
}

nav.breadcrumb-plp a{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

nav.breadcrumb-plp a:hover{
    color: #FD8916;
    text-decoration: underline;
}

section.information-above-plp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: 2/4;
    margin: 0px;
    padding: 10px 20px;
    background-color: #FFEBD0;
}

section.information-above-plp p{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0px 5px;
    color: #173B61;
}

div.orderby-plp {
    margin: 0px;
    display:block;
    text-align: center;
    padding: 2px;
}

div.orderby-plp h4{
    margin: 0;
}

#orderby-plp-box{
    padding: 5px;
}

aside.filters-plp{
    grid-row: 2/4;
    grid-column: 1;
    margin: 0px;
    padding: 10px;
    background-color: #889ea4;
}

aside.filters-plp h2{
    margin: 0;
    padding: 5px 0px;
}

aside.filters-plp h4{
    margin: 0;
    padding: 5px 0px;
}

aside.filters-plp ul{
    list-style-type: none;
    padding: 0px;
}

aside.filters-plp ul form{
    display:flex;
    flex-direction: column;
    align-items: right;
    padding: 5px;
}

aside.filter-plp label{
    font-family: "Montserrat", sans-serif;
}

aside.filters-plp label:hover{
    color: #ffffff;
}

section.content-plp{
    grid-row: 3;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.content-plp ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
}

section.content-plp ul li.product{
    border: 2px solid #7697A0;
    border-radius: 5px;
    padding: 5px 20px;
}

section.content-plp ul li.product p{
    margin: 5px 0px;
}

section.content-plp ul li.product a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #173B61;
}

section.content-plp ul li a:hover{
    text-decoration:none;
}

section.content-plp ul li a div.price-discount{
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}


section.content-plp ul li a div.price-discount p.discount{
    padding-left: 5px;
    color: #FD8916;
}

section.content-plp ul li a button {
    width: 140px;
    height: 40px;
    background-color: #FD8916;
    color: white;
    border: none;
    margin-top: 5px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

section.content-plp ul li a button:hover {
    background-color: #7697a0;
}

section.content-plp ul li a i.fa-solid.fa-cart-shopping {
    padding-right: 5px;
}

